<h1>Your Todo List</h1>
<%= link_to "Add Todo Item", new_todo_item_url %>

<% if filter %>
<%= link_to "Filter", todo_items_url(filtered: true) %>
<% else %>
<%= link_to "All Items", todo_items_url %>
<% end %>

<%= form_tag(todo_items_url, method: "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Todo Items" %>
<%= submit_tag "Search" %>
<% end %>

<% todo_items = @todo_items ? @todo_items : current_user.todo_items %>
<ul>
  <% todo_items.each do |item| %>
  <li>
    <%= link_to item.title, item %>
  </li>
  <% end %>
</ul>

<% if display_back_link %>
<%= link_to "Display All", todo_items_url %>
<% end %>
