<h1>New Todo Item</h1>

<%= form_for @todo_item, url: todo_items_url do |f| %>
  <%= f.label "Title: " %>
  <%= f.text_field :title %>
  <%= f.label "Details: " %>
  <%= f.text_area :details %>
  <%= f.submit "Create" %>
<% end %>
